.header {
  background: var(--heather-background);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 12.6rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.todo {
  font-size: 4rem;
  font-weight: 900;
}

.to {
  color: var(--primary-color);
}

.do {
  color: var(--secondary-color);
}