:root {
  --primary-color: #4EA8DE;
  --secondary-color: #5E60CE;

  --background: #0D0D0D;

  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input, textarea {
  font-family: 'Inter', sans-serif;
}